@import "normalize";
@import "defaultmain";


html,body{
	width: 100%;
	height: 100%;
	//overflow-x: hidden;
	font-family: 'Oswald', sans-serif;
	background-color: #3a3435;
}


#pageWrapper {
	width: 82%;
	height: 100%;
	margin: 0 auto;
}

#nav {
	width: 100%;
	z-index: 100;
	//height: 4em;
	padding: 0;
	position: fixed;
	//background-color: blue;
	margin: 0;
	//text-align: center;
	border-bottom: 2px solid #fff;

	li {
		display: inline-block;
		font-size: 2em;
		//padding-top: .3em;
		width: 33.33%;
		text-align: center;
		color: rgba(255, 255, 255, 0.8);
		background-color: #ed9f9c;

		a {
			text-decoration: none;
			color: rgba(255, 255, 255, 0.7);
			transition: all 0.4s ease-out;
		}
	}

	li:nth-child(2) {
		background-color: #3a3435;
	}

	li:nth-child(3) {
		background-color: #f0544f;
	}


}

#nav li a:hover {
	color: #fff;
}

#head-wrapper {
	width: 100%;
	// height: 90%;
	//height: 40em;
	height: 28em;
	//height: none;
	overflow-y: hidden;
	//height: 35em;
	//border-top: 2px solid #fff;
	background-color: #3a3435;
	//margin-top: 2.5em;

	h1, {
		margin: 0;
		padding-top: 14%;
		font-size: 4em;
	}

	p{
		font-size: 2em;
		margin-top: 0;
		font-weight: lighter;
		letter-spacing: .2em;
	}

	h1,p {
		text-align: center;
		color: #f8f8f8;
		text-shadow: 1px 1px 2px rgba(0,0,0,.8);
	}
}

#cartoon-head {
	// margin-top: 1em;
	margin-top: 3.5em;
	display:inline-block;
	float: left;
	//height: 85%;
	height: 87%;
}


#projects-wrapper {
	width: 100%;
	background-color: #f0544f;
	border-radius: 10px 10px 0 0;

	h2 {
		margin-top: 0;
		padding-top: 1em;
		text-align: center;
		color: #fff;
		font-weight: lighter;
	}

	ul {
		width: 100%;
		list-style-type: none;
		padding: 0;
		text-align: center;
		margin-bottom: 0;

		li {
			width: 30.5%;
			display: inline-block;
			background-color: #ed9f9c;
			border: 2px solid #fff;
			border-radius: 10px;
			margin-bottom: 1em;
			position: relative;
			overflow-x: hidden;
			overflow-y: hidden;

			a {
				text-decoration: none;

				
			}

		img {
			width: 100%;
		}

		}
	}
}

#skills-wrapper {
	width: 100%;
	background-color: #f8f8f8;
	text-align: center;
	border-radius: 0 0 10px 10px;
	padding-bottom: 8em;

	h2,h3,p {
		color: #3a3435;
		text-align: center;
	}

	h3 {
		font-size: 2em;
		//margin-bottom: 0;
		margin: 0;
	}
}

.top-skillwrap {
	width: 100%;
	height: 10em;
	background-color: #f8f8f8;
	overflow:hidden;

	.half-circle {
		width: 10em;
		height: 100%;
		background-color: #f0544f;
		margin: 0 auto;
		border-radius: 0 0 50% 50%;
		//top:0;
		//position: relative;

		.smallface {
			width:80%;
			//margin-left: 1.2em;
		}
	}
}

// .top-skillwrap .half-circle:hover {
// 	top:-10em;
// }


#proficient,#basic,#soft {
	display: inline-block;
	width: 40%;
	vertical-align: middle;
}

//Added padding so half circles both align to top 
#proficient {
	//padding-bottom: 3.4em
}

#skills-circle {
	width: 8em;
	height: 8em;
	background: #f0544f;
	border-radius: 50%;
	vertical-align: middle;
	display: inline-block;

	h2 {
		font-size: 2.1em;
		margin-top: 1.2em;
		color: #fff;
	}
}

// #basicP {
// 	padding-bottom: 20%;
// }


footer {
	background-color: #3a3435;
	font-size: .9em;
	font-weight: lighter;
	color: #fff;
	height: 3.2em;

	p{
		margin: 0;
		padding: 1em;
	}
}

//My Experimental Hover code
.mask {
	position: absolute;
	left: 0;
	padding-bottom: 5%;
	bottom: -100px;
	background-color: rgba(255, 255, 255, 0.8);
	width: 100%;
	overflow: hidden;
	margin: 0;
	border-radius: 0 0 10px 10px;
	transition: all 0.3s ease-out;
	opacity: 0;
}

#projects-wrapper .mask h2{
	color: #3a3435;
}

.view:hover img + .mask {
	position: absolute;
	//left: 0;
	//padding-bottom: 1em;
	bottom: 0;
	//background-color: #3a3435;
	//width: 100%;
	//overflow: hidden;
	//margin: 0;
	//border-radius: 0 0 10px 10px;
	opacity: 1;
}

.effect1{
	-webkit-box-shadow: 0 6px 9px -6px #000;
	   -moz-box-shadow: 0 6px 9px -6px #000;
	        box-shadow: 0 6px 9px -6px #000;
}

@media screen and (max-width: 1032px) {
	#head-wrapper h1 {
		//padding-top: 28%;
		padding-top: 20%;
	}

	#head-wrapper p {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 768px) {
	#head-wrapper {
		height: 40%;

		#cartoon-head {
			height: 75%;
		}

		h1 {
			padding-top: 20%;
			font-size: 3em;
		}

		p {
			font-size: 1.2em;
		}
	}

	#projects-wrapper ul li {
		width: 40.5%;
	}

	#proficient,#basic,#soft {
		width: 25%;
	}

	#skills-wrapper h3 {
		font-size: 1.8em;
	}

}

@media screen and (max-width: 736px) {
	#head-wrapper {
		height: 85%;
	}
}

@media screen and (max-width: 667px) {
	#head-wrapper {
		height: 95%;
	}
}

@media screen and (max-width: 480px) {
	#head-wrapper h1 {
		padding-top: 28%;
    	font-size: 2em;
	}

	#head-wrapper p {
		font-size: .9em;
	}
}

@media screen and (max-width: 414px) {
	#nav li {
		font-size: 1.5em;
    	padding: .3em 0;
	}

	#pageWrapper{
		width: 98%;
	} 

	#head-wrapper #cartoon-head {
		height: 70%;
	}

	#basic, #proficient, #soft {
		width: 100%;
	}

	#skills-circle {
		display: none;
	}

	footer {
		font-size: .7em;
	}
}

@media screen and (max-width: 375px) {
	#pageWrapper {
		width: 98%;
	}

	#head-wrapper {
		height: 100%;

		#cartoon-head {
			height: 65%;
		    display: block;
		    margin: 3.5em auto 0;
		    float: none;
		}

		h1 {
			padding-top: 0;
			font-size: 3em;
		}

		p {
			font-size: 1em;
		}
	}

	#basic, #proficient, #soft {
		width: 100%;
	}
}

@media screen and (max-width: 375px) {
	footer {
		font-size: .5em;
	}
}
